body {
	width:100%;
	height:100%;
}    
.glyphicon-move {
	cursor: move;
	cursor: -webkit-grabbing;
}
.ghost {
	opacity: 1;
	background: #337ab7;
}
.layer-remove, .theme-remove {
	float: right;
	padding-right: 10px;
	color: #000000;
	font-size: 1.2em;
	cursor: pointer;
}
.layer-edit, .theme-edit{
	float: right;
	padding-right: 10px;
	color: #000000;
	cursor: pointer;
	font-size: 1.2em;
}
.btn-layer-new {
	float: right;
	margin-right: 20px;
}
#opt-style option {
    color: #FFFFFF;    
    padding: 5px 0;   
    font-size: 20px;
    font-weight: bold;
}
.alizarin {
    background-color: #E64B3B;   
}
.blue {
    background-color: #F6F7F8;
}
.default {
    background-color: #34495D;
}
.nephritis {
    background-color: #26AE60;
}
.ripe_lemon {
    background-color: #F6CA17;
}
.amethyst {
    background-color: #9A59B6;
}
.carrot {
    background-color: #E67E21;
}
.green {
    background-color: #70BA50;
}
.peter_river {
    background-color: #3497DB;
}
.black {
    background-color: #000000;
}
.chambray {
    background-color: #3A529A;
}
.green_sea {
    background-color: #1ABC9C;
}
.pink {    
    background-color: #F62359;
}
.wet_asphalt {    
    background-color: #34495D;
}

.row.fld.selected {
    background-color: #9E9E9E;
}
#theme-edit-icon {
	font-family: 'FontAwesome', 'sans-serif';
	font-size: 20px;
	height: 45px;
}
div#map_filter {
    height: 300px!important;
}
.ogc-result .thumbnail img {
    max-height: 150px;
}
.ogc-result .thumbnail h3 {
    font-size: 16px;
}
.ogc-result .thumbnail p {
    font-size: 12px;
    display: block; /* Fallback for non-webkit */
	display: -webkit-box;
	max-width: 400px;
	height: 84; /* Fallback for non-webkit (12*1.4*5**/
	margin: 0 auto;  
	line-height: 1.4;
	-webkit-line-clamp: 5;
	-webkit-box-orient: vertical;
	overflow: hidden;
	text-overflow: ellipsis;
}
.bl img {
    max-height: 80px;
}
.bl .thumbnail {
    background-color: #dcdada;
}
.bl.visible .thumbnail {
    background-color: #fff;
}
.bl .caption {
    text-align: center;
}
select#opt-style {    
    color: #fff;
}
#frm-lis-styles .caption {
    font-size: xx-small;
}
#frm-lis-styles input[type="text"] { 
    width: 100%;
    background: grey;
    color: white;
    font-size: x-small;
}
#query-parameters {
    display: none;
}
#query-parameters.visible {
    display: block;
}
#searchelasticsearch_options,  #searchlocalities_options{   
    display: none;
    padding-top: 20px;
    padding-bottom: 20px;
}
#fuse_options {
    display: none;
}
.checkbox.lg input[type=checkbox] {
    transform: scale(2);
    margin-left: -30px!important;
}
#themes-list .list-group-item.active, #themeLayers .list-group-item.active {
    color: #31708f;
    background-color: #d9edf7;
    border-color: #bce8f1;
}
#csw-results {
    padding-top: 20px;
}
.themes-list-item .btn-group, layers-list-item .btn-group{
    margin-top: -3px;
    margin-right: -8px;
}
.themes-list-item .label-info {    
    margin-left: 3px;
}