# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]
*$py.class

# test
.pytest_cache/
.mypy_cache/

*.egg-info/
*.egg
src/python/build


# IDE stuff
.idea
.vscode
*.iml

# venv
**/venv
**pycache**

# static (python backend)
src/static/config.json

# log
logs/*
logs/*

# pyenv
.python-version
?venv/
pydocs*
__pycache__/
?__pycache__/

# store
store/
public/

# npm
node*
package-*

# config
src/static/config.json