# Python cache
__pycache__/
*.py[cod]
*$py.class

# Test / tooling cache
.pytest_cache/
.mypy_cache/

# Build / packaging
*.egg-info/
*.egg
build/
dist/

# IDE
.idea/
.vscode/
*.iml

# Virtual environments
.venv/
venv/
env/

# Static config
src/static/config.json

# Logs
logs/

# Pyenv
.python-version

# Docs
pydocs*

# App data
store/
public/

# Node
node_modules/
package-lock.json
yarn.lock
pnpm-lock.yaml