openapi: 3.0.0
info:
  title: Mviewerstudio API
  description: Description de l'API de  [mviewerstudio](https://github.com/mviewer/mviewerstudio).
  version: 1.0.0
servers:
  - url: https://kartenn.region-bretagne.fr/mviewerstudio/
    description: GéoBretagne instance
  - url: https://gis.jdev.fr/mviewerstudio/#
    description: JDev Instance (tests, développements)
paths:
  /proxy:
    get:
      summary: Dev proxy path
      description: Use as proxy for OGC URL and avoid local CORS error
      parameters:
        - name: url
          in: query
          description: 'Target URL'
          required: true
          schema:
            type: string
      responses:
        '200':    # status code
          description: URL Content
        '405':    # status code
          description: not allowed
        '400':
          description: Bad request - url param missing
  /srv/user_info:
    get:
      summary: User informations.
      description: Return informations from header (e.g georchestra header CAS informations)
      responses:
        '200':    # status code
          description: SUCCESS
          content:
            application/json:
              schema: 
                type: array
                items: 
                  type: string
  /srv/config:
    post:
      summary: Save XML configuration
      requestBody:
        description: Save XML file in dedicated directory
        content:
          text/xml:
            schema:
              $ref: '#/components/schemas/Config'
        required: true
      responses:
        '200':
          description: Successful operation
          content:
            application/json:
              examples:
                config:
                  value:
                    config:
                      creator: anonymous
                      date: '2023-02-23T14:18:25.727427'
                      id: e507378c1fe7
                      keywords: a,b,c,d
                      subject: ''
                      title: My new project title
                      url: /e507378c1fe7/My_new_project_title.xml
                      versions:
                        - '1'
                        - '2'
                        - '3'
                    filepath: /e507378c1fe7/My_new_project_title.xml
                    success: true

        '400':
          description: Bad request - XML missing
          content:
            application/json:
              examples:
                badRequest:
                  value:
                    name: "Bad Request"
                    description: "No XML found in the request body !"
  /srv/list:
    get:
      summary: Return a list of all configs
      responses:
        '200':
          description: successful operation
    delete:
      summary: Delete many configs
      description: 'Pass a list of configs ids to delete many configs'
      parameters:
        - name: ids
          in: query
          description: IDs of config to delete
          required: true
          schema:
            $ref: '#/components/schemas/ArrayOfInt'
      responses:
        '400':
          description: ids param missing
  /srv/config/{id}:
    delete:
      summary: Delete a config
      description: delete a config by ID
      parameters:
        - name: id
          in: path
          description: 'config UUID used as uniq server directory name'
          required: true
          schema:
            type: string
      responses:
        '400':
          description: Bad request - Incorrect version name
          content:
            application/json:
              examples:
                badRequest:
                  value:
                    name: "Bad Request"
                    description: "Version does not exists!"

  /srv/version/{id}:
    get:
      summary: Create a new version
      parameters:
        - name: id
          in: path
          description: IDs of config to create
          required: true
          schema:
            type: string
      responses:
        '200':
          description: successful operation
        '400':
          description: Bad request - Incorrect version name
          content:
            application/json:
              examples:
                badRequest:
                  value:
                    name: "Bad Request"
                    description: "This version ID does not exists !'"

  /srv/version/{id}/{version}:
    get:
      summary: Change version of current config
      parameters:
        - name: id
          in: path
          description: IDs of config to use
          required: true
          schema:
            type: string
        - name: version
          in: path
          description: version number to delete
          required: true
          schema:
            type: integer
      responses:
        '200':
          description: successful operation
        '400':
          description: Bad request - Incorrect version name
          content:
            application/json:
              examples:
                badRequest:
                  value:
                    name: "Bad Request"
                    description: "Version does not exists!"
    delete:
      summary: Delete a config by number
      description: 'Will delete a specific version'
      parameters:
        - name: id
          in: path
          description: IDs of config to delete
          required: true
          schema:
            type: string
        - name: version
          in: path
          description: version number to delete
          required: true
          schema:
            type: integer
      responses:
        '400':
          description: Bad request - Incorrect version name
          content:
            application/json:
              examples:
                badRequest:
                  value:
                    name: "Bad Request"
                    description: "ID param missing !"
  /srv/clean:
    delete:
      summary: Delete all config directory from store
      description: Will clean store
      responses:
        '200':
          description: successful operation

components:
  schemas:
    ArrayOfInt:
      type: array
      items:
        type: integer
        format: int64
        example: 1
    Config:
      type: object
      xml: 
        name: config
      properties:
        mviewerstudioversion:
          type: string
          example: 3.2
          xml:
            attribute: true